BACKEND_PORT=3000
BACKEND_URL=http://localhost:3000
BACKEND_BASE_URL=http://localhost:3000
BACKEND_MODE=dev

WEB_PORT=3010
WEB_URL=http://localhost:3010

ADMIN_PORT=3011
ADMIN_URL=http://localhost:3011

BROKER_PORT=3012
BROKER_URL=http://localhost:3012

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=dgvam
DB_USERNAME=dgvam
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret2

JWT_SECRET=1234
ADMIN_SEED_PHONE=09120000000
ADMIN_SEED_PASSWORD=123456

SMSIR_API_KEY=
SMSIR_LINE_NUMBER=
SMSIR_BASE_URL=https://api.sms.ir/v1/send
SMSIR_OTP_TEMPLATE_ID=
SMSIR_BROKER_OTP_TEMPLATE_ID=
SMSIR_CUSTOMER_OTP_TEMPLATE_ID=
SMSIR_OTP_PARAMETER_NAME=CODE

ZBAL_API_TOKEN=
ZBAL_BASE_URL=
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=1

ZARINPAL_MODE=sandbox
ZARINPAL_MERCHANT_ID=