.idea/
node_modules
.vscode/
public/storage/*
npm-debug.log
yarn-error.log
/logs
.env
.env.dusk.local
.env.dusk.production
.env~
.env.dusk.local~
.env.dusk.production~
build
go.work
*.exe
*.exe~
*.so
*.dll
.out
.dylib
.test
*.log
.env.test

dist
figma-refs

.figma*